* {margin:0;padding:0;box-sizing:border-box;}
body {
  
}
img {
  width:400px;
}
.header {
  text-align: center;
}

#focal-point {
  text-align: center;
}

.above-fold {
  background-image: url("images/Hyperion_1.jpg");
  background-size: cover;
  padding: 10em 0 0;
  height: 90vh;
}
em {
    font-size: 2em;
    font-style: normal;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 5em 0;
}

p {
    margin-top: 1em;
}
